<h1>Trainer mode</h1>

<p *ngIf="!trainer"><em>Loading...</em></p>
Name: <input type="textbox" [(ngModel)]="newTrainer.name"/>
Rank : <input type="textbox" [(ngModel)]="newTrainer.rank"/>
<input type="button" [title]="'add'" [value]="'Add'" (click)="add()" >
<table class='table table-striped' *ngIf="trainer">
  <thead>
  <tr>
    <th>Name</th>
    <th>Rank</th>
    <th>Remove</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let forecast of trainer">
    <td>{{ forecast.name }}</td>
    <td>{{ forecast.rank }}</td>
    <td><input type="button" [title]="'Remove'" [value]="'Remove'" (click)="remove(forecast.id)"></td>
  </tr>
  </tbody>
</table>
